body {
  padding: 40px;
}

button {
  color: white;
  background: blue;
  transition: transform 3s;
  padding:  20px 30px;
  border: 0px;
  border radius: 15px;
}

button:active {
  transform: scale(0.8);
}

button:focus {
  background: darkblue;
}