/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body { 
  margin: 30px;
}

h1,
h2 {
  font-family: BANGERS;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  font-family: BANGERS;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.row {
  list-style-type: none;
  display: flex;
}

.col {
  background: lightblue;
  border: dashed; color: navy;
  margin: 25px 25px;
  padding: 25px
  
}
/* could not find the exact color for lines 51-52 so i went with something i liked better */
.image {
  height: 300px;
}
